.modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.185);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  display: grid;
  place-content: center;
}

.modal {
  background-color: white;
  color: black;
  padding: 1rem;
  display: grid;
  position: relative;
  place-items: center;
  gap: 1rem;
}
.modal h3 {
  width: 20ch;
}

.close-modal {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: black;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
}
